.pagination {


    li {
        display: inline-block;


    }



    a {
        text-align: center;
        width: 45px;
        line-height: 42px;
        height: 45px;
        border: 1px solid rgb(247, 60, 60);
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
        color: rgb(247, 60, 60);

        &:hover {
            color: #fff;
            background-color: rgb(247, 60, 60);

        }
    }

    :global {
        .selected {
            a {
                color: #fff;
                background-color: rgb(247, 60, 60);
            }
        }
    }
}